* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

            /* HEADER START */
header {
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
}

header h1 {
    font-weight: Bold;
    font-size:  36px;

    height: 41px;
}

header a {
    text-decoration: none;
    color: black;
 
}
header nav {
    margin-right: 40px;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
}

header nav ul li {
    padding: 20px;
    font-weight: bold;
    font-size: 1.55vw;
}

header nav ul li:hover {
    font-size: 2vw;
    transition: font-size .5s;
}
            /* HEADER END */

            /* BIO START  */
.bio {
    display: flex;
    margin: 35px;
}

.bio img {
    border-radius: 20px;
}

.story h2, .story p {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2vw;
    margin-left: 20px;
}

            /* BIO END */

            /* PORTFOLIO START */
.portfolio h2, .samples {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.samples li {
    display: flex;
    list-style: none;
    margin: 5px;
}

.samples img {
    border-radius: 10px;
}
            /* PORTFOLIO END */